Source: ros-kinetic-rosserial-test
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpath.ai>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-kinetic-catkin, ros-kinetic-roscpp, ros-kinetic-rosserial-client, ros-kinetic-rosserial-msgs, ros-kinetic-rosserial-python, ros-kinetic-rosserial-server, ros-kinetic-rostest, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rosserial-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtest-dev, ros-kinetic-roscpp, ros-kinetic-rosserial-client, ros-kinetic-rosserial-msgs, ros-kinetic-rosserial-python, ros-kinetic-rosserial-server, ros-kinetic-rostest, ros-kinetic-std-msgs
Description: A specialized harness which allows end-to-end integration testing of the rosserial client and server components.
