Source: ros-kinetic-rosserial-mbed
Section: misc
Priority: extra
Maintainer: Gary Servin <garyservin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation
Homepage: http://ros.org/wiki/rosserial_mbed
Standards-Version: 3.9.2

Package: ros-kinetic-rosserial-mbed
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-rospy, ros-kinetic-rosserial-client, ros-kinetic-rosserial-msgs
Description: rosserial for mbed platforms.
